<h1><%= @question.title %></h1>

<div class="row center">
  <p><%= @question.body %></p>
</div>
<div class="row center">
  <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-info' %>
<%# Here we override the method(:question) with :delete, so that the when the button is clicked the route called is delete %>
  <%= link_to "Delete Question", @question, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this question? All answers will also be deleted.'} %>
</div>
<div class="row center">
  <hr style="width:300px;"/>
  <p><b>Resolved: </b><%= @question.resolved %></p>
</div>
