<h1 class="center"><%= @sponsored_post.title %></h1>

<div class="row center">
  <div>
    <h3>Price: <%= @sponsored_post.price %>.00</h3>
    <p><%= @sponsored_post.body %></p>
  </div>
</div>
<div class="row center">
  <%= link_to "Edit", edit_topic_sponsored_post_path(@sponsored_post.topic, @sponsored_post), class: 'btn btn-info' %>
<%# Here we override the method(:post) with :delete, so that the when the button is clicked the route called is delete %>
  <%= link_to "Delete Post", [@sponsored_post.topic, @sponsored_post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post? All comments will also be deleted.'} %>
</div>
